html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#gameScreen  {
  display: none;
}

div {
  text-align: center;
  background-color: aqua;
}